
<%-include("../includes/head.ejs")%>
</head>
<body class="p-0 m-0 h-full">
<!-- The main container -->
<div class="flex flex-row w-full min-h-full font-sans ">
<div class="w-96 min-h-full bg-white">
<form action="/sendRequest" class="my-12 mx-10 flex flex-col " method="post" novalidate>
    <div class="flex content-start items-center flex-wrap">
        <img src="/images/pin-mark.png" class="w-10" alt="">
        <h1 class="font-medium text-xl text-darkBrown">Tracket</h1>
    </div>
    <h1 class="font-medium text-2xl mt-8 mb-4 text-darkBrown">Send request to reset your password</h1>
    <p class="font-bold mb-8">We'll send you an email to reset your password</p>
    <div class="flex flex-col mb-8">
        <label class="text-xs text-mediumGray font-bold" for="">Email address</label>
        <input type="text" class="w-300px mt-5px border-1px border-bluishGray h-9 text-sm rounded-6px pl-3" name="email">
        <p class="text-sm mt-1 text-[#D8000C]"><%=errorMessage%></p>
    </div>
    <div class="mt-2.5">
        <button class="w-fit px-2 h-8 font-15px bg-sandyBrown hover:bg-popupBackground font-mediumbold text-white rounded-5px">Send request</button>
    </div>
</form>
</div>
<!-- 3d photo -->
<div class="w-full min-h-full">
    <img class="bg-cover" src="/images/alter2.png" alt="">
</div>
</div>

<%-include("../includes/end.ejs")%>
